<!doctype html>

<html ng-app="app" lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <form novalidate ng-submit="loadProducts()">
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="min" placeholder="min" ng-model="filter.min">
            <label for="min">Minimum price</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="max" placeholder="max" ng-model="filter.max">
            <label for="max">Maximum price</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="title" placeholder="title" ng-model="filter.title">
            <label for="title">Product Name</label>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Submit</button>
    </form>

    <h3>Product's List</h3>
    <table class="table table-dark table-hover">
        <tr>
            <td>ID</td>
            <td>Product's name</td>
            <td>Cost</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Add product via JSON</h3>
    <form novalidate ng-submit="addProductJson()">
        <input class="form-control" type="text" placeholder="Title" ng-model="ProductJson.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Cost" ng-model="ProductJson.cost">
        <p></p>
        <button type="submit" class="btn btn-warning">Create product JSON</button>
    </form>

    <h3>Filter by minimum and / or maximum price</h3>
    <form novalidate ng-submit="loadProducts()">
        <input class="form-control" type="number" placeholder="min" ng-model=filter.min>
        <p></p>
        <input class="form-control" type="number" placeholder="max" ng-model=filter.max>
        <p></p>
        <button type="submit" class="btn btn-warning">Apply Filters</button>
    </form>
</div>
</body>
</html>